.nvbar{
    font-family: "Orbitron"!important;
    color: white !important;
    font-weight: bold;
    font-size: 1.2rem;
}

nav{
    background-color: midnightblue !important;
}

.main{
    font-family: 'Chakra Petch';

}

h1{
    font-family: 'Chakra Petch';
    font-size: 1.5rem;
}

h5{
    font-family: 'Chakra Petch' !important;
    font-size: 1.1rem;
}

p{
    font-family:'Chakra Petch' ;
    font-size: 1.0rem;
}

div{
    font-family:'Chakra Petch' !important ;

}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.favorite:hover {
  color: gold !important;
}

.active-filter {
  color: midnightblue !important;
  border-bottom: 2px solid midnightblue;
}
